---
import Layout from '../layouts/Layout.astro';
import ImageList from '../components/ImageList.astro'
---

<Layout title="Free image gallery | PickPics">
	<main class="">
		<div class="flex flex-col items-center">
			<h1 class="text-6xl font-bold text-white text-center">
				PickPics
				<span class="text-2xl block">An image gallery example</span>
			</h1>
		</div>
		<ImageList />	
	</main>
</Layout>

<style>
	
</style>
